@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://unpkg.com/aos@next/dist/aos.css');
@import url('root.css');

@media(prefers-color-scheme: dark){
	:root {
		--bg: var(--color-dark);
		--text: var(--color-light);
		--border: var(--color-grey-dark);
		--input: var(--color-grey-dark);
		--placeholder: var(--color-grey-dark-300);
		--fab: var(--color-dark-400);
		--header-bg: var(--color-dark-075);
		--nav-bg: var(--color-light-075);
		--project-c: var(--cursor-project--dark);
		--body-bgc: var(--mesh-bgc--dark);
		--body-bgi: var(--mesh-bgi--dark);
		--project-bg: var(--color-dark-016);
	}
}

@media(prefers-color-scheme: light){
	:root {
		--bg: var(--color-light);
		--text: var(--color-dark);
		--border: var(--color-border);
		--input: var(--color-light-400);
		--placeholder: var(--color-grey);
		--fab: var(--color-light-400);
		--header-bg: var(--color-light-075);
		--nav-bg: var(--color-dark-075);
		--project-c: var(--cursor-project--light);
		--body-bgc: var(--mesh-bgc--light);
		--body-bgi: var(--mesh-bgi--light);
		--project-bg: var(--color-light-032);
	}
}

[color-scheme="dark"]{
	--bg: var(--color-dark);
	--text: var(--color-light);
	--border: var(--color-grey-dark);
	--input: var(--color-grey-dark);
	--placeholder: var(--color-grey-dark-300);
	--fab: var(--color-dark-400);
	--header-bg: var(--color-dark-075);
	--nav-bg: var(--color-light-075);
	--project-c: var(--cursor-project--dark);
	--body-bgc: var(--mesh-bgc--dark);
	--body-bgi: var(--mesh-bgi--dark);
	--project-bg: var(--color-dark-016);
}

[color-scheme="light"]{
	--bg: var(--color-light);
	--text: var(--color-dark);
	--border: var(--color-border);
	--input: var(--color-light-400);
	--placeholder: var(--color-grey);
	--fab: var(--color-light-400);
	--header-bg: var(--color-light-075);
	--nav-bg: var(--color-dark-075);
	--project-c: var(--cursor-project--light);
	--body-bgc: var(--mesh-bgc--light);
	--body-bgi: var(--mesh-bgi--light);
	--project-bg: var(--color-light-032);
}

*,
::before,
::after {
	box-sizing: border-box;
}

html {
	font-size: 10px;
	scroll-behavior: smooth;
	scroll-padding-top: 2rem;
}

body {
	background-color: var(--bg);
	color: var(--text);
	font-family: var(--font-main), -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1.7rem;
	line-height: 1.1;
	margin: 0;
}

a {
	color: inherit;
	cursor: pointer;
	transition: all .3s;
}

a:hover {
	color: var(--placeholder);
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

h1 {
	font-size: 8rem;
}

h1.display {
	line-height: var(--space-8);
	margin-bottom: var(--space-4);
}

h1.display::first-letter {
	font-style: oblique;
}

p.lead {
	font-size: var(--font-size-md);
	line-height: 1.25;
	margin-bottom: var(--space-1);
}

img {
	max-width: 100%;
}

::selection {
	color: var(--bg);
	background-color: var(--text);
}

::-webkit-scrollbar-track {
	background-color: var(--bg);
}

::-webkit-scrollbar {
	width: 6px;
	background-color: var(--bg);
}

::-webkit-scrollbar-thumb {
	background-color: var(--placeholder);
	border-radius: var(--radii-2);
}

.hide, .hidden, [hide], [hidden] {
	display: none;
}

.invisible, [invisible] {
	visibility: hidden;
}

.topbar .bar {
	background-color: var(--text);
}

.header {
	position: fixed;
	display: flex;
	flex-direction: row;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	margin: 0px auto;
	height: 5rem;
	width: 100%;
	border-bottom: 0 solid var(--border);
	background-color: var(--header-bg);
	backdrop-filter: blur(var(--blur-1));
	z-index: 1;
}

.header-left {
	flex: 1 1 0%;
	display: flex;
	flex-direction: row;
	-webkit-box-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	align-items: center;
	padding-left: clamp(.8rem, 1rem, 1.6rem);
	width: 100%;
	height: 100%;
}

.header-center {
	display: flex;
	flex-direction: row;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	width: 100%;
	height: 100%;
	flex: 1 1 160px;
}

.header-menu {
	display: flex;
	flex-direction: row;
}

@media screen and (max-width: 576px) {
	.header-menu {
		display: none;
	}
}

.header-menu .header-menu__item {
	color: var(--placeholder);
	margin: 0 1rem;
	padding: .5rem 0;
	cursor: pointer;
	transition: .2s;
}

.header-menu .header-menu__item:hover a {
	color: var(--text);
}

.header-menu .header-menu__item.active {
	color: var(--text);
}

.header-right {
	flex: 1 1 0%;
	display: flex;
	flex-direction: row;
	-webkit-box-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	align-items: center;
	padding-right: clamp(.8rem, 1rem, 1.6rem);
	width: 100%;
	height: 100%;
}

.logo {
	/* width: 64px; */
	height: var(--space-3);
	width: 100%;
	margin-right: 8px;
}

.logo--small {
	height: 64px;
	margin-bottom: 3rem;
}

.logo--medium {
	height: 96px;
	margin-bottom: 3rem;
}

.logo--large {
	height: 128px;
	margin-bottom: 3rem;
}

.logo-text {
	font-size: 2rem;
	font-weight: 500;
}

.button {
	display: flex;
	flex: 0 0 auto;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	box-sizing: border-box;

	color: var(--bg);
	background: var(--text);

	font-size: 1.25rem;
	font-weight: 500;
	line-height: 2.4rem;
	text-decoration: none;

	height: 5rem;
	border-radius: 5px;
	border: none;
	padding: 0 3.2rem;
	cursor: pointer;
}

.action-button {
	cursor: pointer;
}

.system-pref-button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--bg);
	color: var(--text);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid var(--border);
	padding: 0;
	cursor: pointer;
}

.main {
	height: calc(100vh);
	padding-top: 50px;
}

.page {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin: auto;
	padding: clamp(1.2rem, 1rem, 2rem);
	display: none;
}

.page.active {
	display: flex;
}

.page {
	background-color: var(--body-bgc);
	background-image: var(--body-bgi);
}

.hero {
	max-width: 800px;
}

.page:not(.section--home) {
	justify-content: flex-start;
}

.section-header {
	max-width: var(--width-400);
	text-align: center;
	margin: 0 auto;
}

.section-body {
	width: 100%;
	margin: 0 auto;
	margin-top: var(--space-8);
}

.section-body.contained {
	max-width: var(--width-600);
}

.navbar {
	--width: 300px;
	--height: 50px;

	position: fixed;
    bottom: 12px;
    left: calc(50% - var(--width) / 2);
	width: 300px;
    height: 50px;

	display: grid;
	grid: var(--height) / auto-flow;
	justify-content: space-evenly;
    align-items: center;

    background-color: var(--nav-bg);
    backdrop-filter: blur(var(--blur-1));
    color: var(--bg);
    border-radius: var(--radii-2);
    box-shadow: var(--shadows-medium);
	transition: .3s;
}

.navbar:hover {
	box-shadow: var(--shadows-large);
}

.navbar__link {
	position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;
	color: var(--placeholder);
	transition: all .3s;
}

.navbar__link:hover {
	color: var(--bg);
}

.navbar__link.active {
	color: var(--bg);
}

.navbar__link::after {
	content: '';
    position: absolute;
    width: 0;
    height: 4px;
    background-color: var(--bg);
    border-radius: var(--radii-4);
    bottom: 8px;
	opacity: 0;
	visibility: hidden;
	transition: all .3s;
}

.navbar__link.active::after {
	width: 16px;
	opacity: 1;
	visibility: visible;
}

.footer {
	position: fixed;
	bottom: 0;
	display: flex;
	height: 32px;
	width: 100%;
	background: var(--bg);
	border-top: 1px solid var(--border);
	padding: 1rem;
	z-index: 1;
}

.copyright {
	width: 100%;
	font-size: 1rem;
	text-align: center;
}


/* Home */
.section--home {
	text-align: center;
}

.harv-name {
	font-size: clamp(3rem, 5vw, 5rem);
	margin-bottom: 3rem;
}

.harv-lead {
	font-size: clamp(1.5rem, 5vw, 2.25rem);
	font-weight: 300;
	line-height: 1.5;
	margin-bottom: 3rem;
}


/* Work */
.section--work {
	position: relative;
}

.section--work .section-body {
	margin-bottom: var(--space-8);
}

.section--work h1.display {
	position: relative;
}

.work-toggle {
	position: absolute;
	right: 64px;
	bottom: -16px;
	display: flex;
	flex-direction: row;
	gap: var(--space-1);
	font-size: 1rem;
	line-height: 1;
	cursor: pointer;
}

.work-toggle span {
	transition: .3s;
}

.work-toggle svg {
	width: 12px;
	transition: .3s;
}

.work--experience .work-toggle svg {
	transform: rotate(180deg);
}

.projects {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-template-rows: 1fr;
	grid-column-gap: var(--space-5);
	grid-row-gap: var(--space-5);
}

.project {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	background-color: var(--project-bg);
	backdrop-filter: blur(var(--blur-1));
	color: var(--text);

	border: 1px solid var(--border);
	border-radius: var(--radii-2);
	padding: clamp(4px, 4vw, 16px);

	transition: .3s;
	cursor: var(--project-c);
}

.project:hover {
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,.1),0px 8px 8px 1px rgba(0,0,0,.07),0px 3px 8px 2px rgba(0,0,0,.08),0px 0px 0px 2px var(--text);
    transition: transform 200ms linear,box-shadow 200ms linear,background 400ms ease,border-color 400ms ease;
    border-color: var(--text);
}

.project__image img {
	width: 100%;
}

.project__image img {
	margin-bottom: var(--space-1);
}

.project__image img {
	border-radius: var(--radii-1);
}

.project__content {
	display: flex;
    flex-direction: row;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}

.project__text {
	display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.project__title {
	font-size: var(--font-size-lg);
	margin-bottom: var(--space-1);
}

.project__description {
	/* display: none; */
	font-size: var(--font-size-base);
	margin-bottom: var(--space-1);
}

.project__right {
	display: flex;
    flex-direction: row;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    /* width: 80px; */
    height: 100%;
}

.project__tag {
	font-size: var(--font-size-sm);
	margin-bottom: var(--space-1);
	padding: .5rem 1.5rem;
	border: 1px solid var(--text);
	border-radius: var(--radii-4);
}

@media screen and (max-width: 800px) {
	.projects {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));	
		grid-column-gap: var(--space-4);
		grid-row-gap: var(--space-4);
	}
}

@media screen and (max-width: 600px) {
	.projects {
		grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));	
		grid-column-gap: var(--space-3);
		grid-row-gap: var(--space-3);
	}
}

/* @media screen and (max-width: 400px) {
	.projects {
		grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));	
		grid-column-gap: var(--space-2);
		grid-row-gap: var(--space-2);
	}
} */

.project-cursor {
	position: absolute;
    pointer-events: none;
    font-size: .8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: var(--nav-bg);
    color: var(--bg);
    border-radius: var(--radii-4);
    padding: calc(var(--space-1) / 2) var(--space-1);
}

.experiences {
	display: none;
}

.section--work.work--experience .projects {
	display: none;
}

.section--work.work--experience .experiences {
	display: flex;
}


/* # about */


/* # misc */
.empty-state {
	text-align: center;
}